body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255,255,255,0.75);
    display: flex;
    align-items: center;
    text-align: left;
}
 #container {
     width: 100%;
 }

#end-all {
    background-color: #ffffff;
}

#team {
    float: left;
    width: 33%;
}

#data-sources-tools {
    float: left;
    width: 33%;
}

#logo-ensae {
    float: left;
    width: 33%;
}

.lnr-envelope {
  color: #0F52BA;
  font-size: 20px;
}
