body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}


#end-all {
    background-color: #ffffff;
}

#team {
    margin-left: 10px;
    float: left;
    width: 30%;
}

#data-sources-tools {
    float: left;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #ffffff; */
}

#logo-ensae {
    float: left;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #ffffff; */
}

.lnr-envelope {
  color: #0F52BA;
  font-size: 20px;
}
