body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

#team {
    /* top:50%; */
    float: left;
    width: 30%;
    height: 100%;
}

#data-sources-tools {
    float: left;
    width: 30%;
    height: 100%;
    padding: 10px;
}

#logo-ensae {
    float: left;
    width: 35%;
    height: 100%;
    padding: 10px;
}