/* Countries bubbles story */
body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

#controls {
  font-size: 18px;
  margin-bottom: 10px;
  float:left;

  justify-content: center;
  align-items: center;
}

#country-info {
  color: #000;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 50%;
  z-index: 1000;
}

circle {
  stroke: white;
  stroke-width: 1.5;
}

.continent-key-element text {
  fill: white;
}
/* #container{
    height: 100%;
    width: 100%;
} */
#left-container {
    /* top:50%; */
    float: left;
    width: 65%;
    text-align: center;
}

#right-container {
    float: left;
    width: 35%;
    height: 100%;
    background-color: rgba(255,255,255,0.75);
}

.list {
	flex: 0 0 20rem;
    list-style-type: none;
}

.list__item {
	position: relative;
}
.list__item:hover > .label {
    color: #009688;
}
.list__item:hover::before > .label  {
    border: 0.5rem solid #009688;
    margin-right: 2rem;
}

.radio-btn {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}
.radio-btn:checked + .label {
    color: #009688;
}
.radio-btn:checked::before {
    margin-right: 2rem;
    border: 0.5rem solid #009688;
    background: #000;
}

.label {
	display: flex;
	align-items: center;
	padding: 0.75rem 0;
	color: #000;
	font-size: 1.25rem;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.25s linear;
}

.label::before {
	display: inline-block;
	content: "";
	height: 1.125rem;
	width: 1.125rem;
	margin-right: 0.625rem;
	border: 0.5rem solid #000;
	border-radius: 50%;
	transition: all 0.25s linear;
}
