/* Countries bubbles story */
body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

#controls {
  font-size: 18px;
  margin-bottom: 10px;
  float:left;

  justify-content: center;
  align-items: center;
}

#country-info {
  color: #000;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 50%;
  z-index: 1000;
}

circle {
  stroke: white;
  stroke-width: 1.5;
}

.continent-key-element text {
  fill: white;
}
/* #container{
    height: 100%;
    width: 100%;
} */
#left-container {
    /* top:50%; */
    float: left;
    width: 65%;
    text-align: center;
}

#right-container {
    float: left;
    width: 35%;
    height: 100%;
    background-color: rgba(255,255,255,0.75);
}
