/* Countries bubbles story */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

#left-container {
    /* top:50%; */
    float: left;
    width: 75%;
    height: 100%;
    background-color: #000080;
}

#right-container {
    float: left;
    width: 20%;
    height: 100%;
    padding: 10px;
}

#explication{
    visibility: hidden;
}

#interpretation{
    visibility: hidden;
}
